<main class="main">
  <header>
    <h1>Seasons Clock</h1>
  </header>

  <section class="season-clock-cmps">
    <div class="season-clock-card">
      <div class="card-title">
        <span class="title-month">{{ timeObj.month }}</span>
        <span class="title-season">({{ timeObj.season }})</span>
      </div>
      <div class="season-img-container">
        <img
          [src]="'assets/imgs/' + timeObj.season.toLowerCase() + '.png'"
          alt="season-image"
        />
      </div>
      <span class="card-day">{{ timeObj.dayOfWeek }}</span>
    </div>
  </section>
  <button (click)="onToggleTheme()">Toggle Theme</button>
</main>

<router-outlet />
