:host {
  --bright-blue: #299dda;
  --bright-blue1: #01008c;
  --bright-blue-1: #aed8e6;

  --clr-black: #000;
  --clr-white: #fff;

  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;

  header {
    padding: 0.5em;
    margin-block-end: 0.5em;

    h1 {
      font-size: 3rem;
      font-weight: 500;
      line-height: 100%;
    }
  }

  .season-clock-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
  }
}
