@use "sass:color";

$bright-blue: #299dda;
$bright-green: #67af48;
$bright-yellow: #fdc429;
$dark-purple: #434fa0;

:host {
  --bright-blue: #299dda;
  --bright-green: #67af48;
  --bright-yellow: #fdc429;
  --dark-purple: #434fa0;

  --clr-black: #000;
  --clr-white: #fff;

  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;

  header {
    padding: 0.5em;
    margin-block-end: 0.5em;

    h1 {
      font-size: 3rem;
      font-weight: 500;
      line-height: 100%;
    }
  }

  .season-clock-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 0.5em;

    color: var(--clr-black);

    &.winter {
      background: color.adjust($color: $bright-blue, $lightness: 20%);
      &.dark {
        background: color.adjust($color: $bright-blue, $lightness: -20%);
      }
    }

    &.summer {
      background-color: color.adjust($color: $bright-yellow, $lightness: -20%);
      &.dark {
        background-color: color.adjust(
          $color: $bright-yellow,
          $lightness: -20%
        );
      }
    }

    &.autumn {
      background-color: color.adjust($color: $dark-purple, $lightness: 20%);
      &.dark {
        background-color: color.adjust($color: $dark-purple, $lightness: -20%);
      }
    }

    &.spring {
      background-color: color.adjust($color: $bright-green, $lightness: 20%);
      &.dark {
        background-color: color.adjust($color: $bright-green, $lightness: -20%);
      }
    }

    &.dark {
      color: var(--clr-white);
    }
  }
}
