<main class="main">
  <header>
    <h1>Seasons Clock</h1>
  </header>

  <section class="season-clock-cmps">
    <div class="season-clock-card">
      <div class="card-title">
        <span class="title-month">December</span>
        <span class="title-season">(Winter)</span>
      </div>
      <div class="season-img-container">
        <img ng-src="../app/assets/imgs/winter.png" alt="season-image" />
      </div>
      <span class="card-day">Saturday</span>
    </div>
  </section>
  <button (click)="onToggleTheme()">Toggle Theme</button>
</main>

<router-outlet />
