<main class="main">
  <header>
    <h1>Seasons Clock</h1>
  </header>

  <section class="season-clock-cmps">
    <div
      class="season-clock-card"
      [class.dark]="isDark"
      [ngClass]="{
        winter: timeObj.season.toLowerCase() === 'winter',
        summer: timeObj.season.toLowerCase() === 'summer',
        autumn: timeObj.season.toLowerCase() === 'autumn',
        spring: timeObj.season.toLowerCase() === 'spring'
      }"
    >
      <div class="card-title">
        <span class="title-month">{{ timeObj.month }}</span>
        <span class="title-season">({{ timeObj.season }})</span>
      </div>
      <div class="season-img-container">
        <img
          [src]="'/assets/imgs/' + timeObj.season.toLowerCase() + '.png'"
          alt="season-image"
        />
      </div>
      <span class="card-day">{{ timeObj.dayOfWeek }}</span>
    </div>
  </section>
  <button
    (click)="onToggleTheme()"
    class="btn-theme-toggle"
    [ngClass]="{
      winter: timeObj.season.toLowerCase() === 'winter',
      summer: timeObj.season.toLowerCase() === 'summer',
      autumn: timeObj.season.toLowerCase() === 'autumn',
      spring: timeObj.season.toLowerCase() === 'spring'
    }"
  >
    Toggle Theme
  </button>

  <section class="clock-section">
    <div class="clock-container">
      <span class="hours"
        >{{ clock.hour <= 9 ? "0" : "" }}{{ clock.hour }}</span
      >
      <span>:</span>
      <span class="minutes"
        >{{ clock.minute <= 9 ? "0" : "" }}{{ clock.minute }}</span
      >
      <span>:</span>
      <span class="seconds"
        >{{ clock.second <= 9 ? "0" : "" }}{{ clock.second }}</span
      >
    </div>
  </section>
</main>

<router-outlet />
