/* Global styles */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-clr-primary: rgb(230, 230, 230);
}

body {
  background-color: var(--bg-clr-primary);
}

img {
  width: 100%;
}
